.footer {
  width: 100%;
  height: var(--footer-height);
  background: var(--bg-color);
  font: var(--font-xl);
  color: var(--inverted-bg-color);
  font-weight: 500;
  line-height: calc(var(--footer-height) / 2);
  border-top: 1px solid var(--border-color);
  position: fixed;
  bottom: 0;
}
