.appContentPage {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
  width: 100%;
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--primary-color);

  .contentPageHeader {
    height: var(--header-height);
  }

  .contentPageFooter {
    height: var(--footer-height);
  }
}
