.app_light_theme {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #000;
  --primary-color: #000;
  --secondary-color: #252525;
  --inverted-primary-color: #fff;
  --inverted-secondary-color: #b1b1b6;
}
