.wrapper {
  display: flex;
}

.label {
  margin-right: 5px;
}

.select {
  background: none;
  outline: none;
  color: var(--inverted-primary-color);
  padding: 6px;
  border: 1px solid var(--inverted-primary-color);
  border-radius: 15%;
}

.option {
  color: var(--inverted-primary-color);
  background: var(--inverted-bg-color);
}
